* {
  margin: 0;
  padding: 0;
}

.main {
  display: none;
  width: 100%;
  min-height: 100vh;
  background-color: #0a700a;
}
.main header {
  width: 100%;
  height: 100px;
  background-color: #055305;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main header span {
  margin: 20px;
  font-size: 20px;
}
.main__general {
  display: flex;
  align-items: flex-start;
}
.main__general__filters {
  width: 100%;
  display: flex;
}
.main__general__filters * {
  border-radius: 0;
  border: 1px solid black;
  height: 40px;
}
.main__general__filters input {
  border-right: none;
  width: 30%;
}
.main__general__filters select {
  width: 25%;
  border-right: none;
}
.main__general__filters button {
  border-right: none;
  cursor: pointer;
  width: 10%;
}
.main__general__content {
  padding: 20px;
}
.main__general__content span {
  display: block;
  margin-top: 10px;
}
.main__general__content span:first-child {
  margin-top: 0;
}
.main__general main {
  min-height: 100%;
  width: 100%;
}

.login {
  width: 100%;
  min-height: 100vh;
  background-color: #063806;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__content {
  height: 50vh;
  width: 40%;
  background-color: #085508;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login__content span {
  font-size: 30px;
  text-align: center;
  width: 100%;
}
.login__content input {
  height: 40px;
  width: 60%;
  background-color: darkgreen;
  border: none;
  outline: none;
}
.login__content .im1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.login__content .im2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.login__content .im3 {
  position: absolute;
  left: 0;
  top: 0;
}
.login__content .im4 {
  position: absolute;
  right: 0;
  top: 0;
}
.login__content .login__image {
  max-width: 20%;
  height: auto;
}
.login__content button {
  margin-bottom: 50px;
  height: 40px;
  width: 20%;
  background-color: #144619;
  border: 1px solid black;
  cursor: pointer;
}