* {
    margin: 0;
    padding: 0;
}
.main{
    display: none;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(10, 112, 10);

    header{
        width: 100%;
         height: 100px;
         background-color:rgb(5, 83, 5);

         display: flex;
         align-items: center;
         justify-content: space-between;
        
         span{
             margin: 20px;
             font-size: 20px;
         }
    }

    &__general{
        display: flex;
        align-items: flex-start;

        &__filters {
            width: 100%;
            display: flex;
            * {
                border-radius: 0;
                border: 1px solid black;
                height: 40px;
            }
            input {
                border-right: none;
                width: 30%;
            }
            select {
                width: 25%;
                border-right: none;
            }
            button  {
                border-right: none;
                cursor: pointer;
                width: 10%;
            }
        }

        &__content {
            padding: 20px;

            span {
                display: block;
                margin-top: 10px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }

        main{
            min-height: 100%;
            width: 100%;
        }
        
    }

}


.login{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(6, 56, 6);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
        height: 50vh;
        width: 40%;
        background-color:rgb(8, 85, 8);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        span{
            font-size: 30px;
            text-align: center;
            width: 100%;;
        }

        input{
            height: 40px;
            width: 60%;
            background-color:darkgreen;
            border: none;
            outline: none;
        }

        .im1{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .im2{
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .im3{
            position: absolute;
            left: 0;
            top: 0;
        }
        .im4{
            position: absolute;
            right: 0;
            top: 0;
        }
        .login__image {
            max-width: 20%;
            height: auto;
        }
        
        
        button{
            margin-bottom: 50px;
            height: 40px;
            width: 20%;
            background-color:rgb(20, 70, 25) ;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}